#cabecera{
    width:800px;
    height:150px;
    background:#ffffff;
    

    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:10px;
}

#logo{
    max-width:120px;
    max-height:120px;
} 

#cabecera p{
    color:red;
    font-size:18px;
    font-family:Verdana, sans-serif;
    margin:5px;
    text-align: center;
}

#cabecera p::first-letter{
    color:blue;
    font-weight:bold;
    font-size:20px;
}

.universidad{
    font-family:Calibri, sans-serif;
    font-size:24px;
    margin-top:5px;
}

.universidad span{
    color:red;
    font-weight:bold;
    font-size:35px;
    vertical-align:middle;
}

#texto_cabecera{
    line-height:1.2;
}