#contenido{
    width:800px;
    margin:0 auto;
    display:flex;
}

#menu{
    width:200px;
    padding: 10px;
    background-color: #ffffff;
}

#principal{
    width:600px;
    padding:5px;
    background-color: #ffffff;
}